@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: 'Pacifico', cursive;
  letter-spacing: 2px;
  color: white;
  text-shadow: 2px 3px 3px black;
}