.settings-container {
  background: #ce9b01;
  color: white;
  min-width: 15rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  .group {
    margin: 0;
  }

  h2 {
    text-align: center;
  }

  .button-containter {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    button {
      width: 90%;
      margin: 0.8rem;
      padding: 0 0.5rem;
    }
  }
}
