.main-page {
  height: 100vh;

  .header {
    height: 5rem;
  }

  .main-content {
    height: 90%;
    width: 100%;
    // height: 100%;
    display: flex;
    flex-wrap: nowrap;

    .forum {
      width: 100%;
      background: #d9eaf5;
      overflow-y: scroll;
      display: grid;
      justify-items: center;
      justify-content: center;
      grid-template-columns: 30rem;
      gap: 1rem;
    }
  }
}
