.main-page {
  height: 100vh;

  .header {
    height: 5.5rem;
  }

  .main-content {
    height: calc(100% - 5.5rem);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    .forum {
      width: 100%;
      display: flex;
      justify-content: center;
      background: #d9eaf5;

      .post-list {
        width: 50rem;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
