.welcome-page {
  margin: 0;
  background-image: url("../../resources/jonathan-smith-ilAAXi1TnbY-unsplash.jpg");
  background-size: cover;
  background-position: center;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Comfortaa";
}
