.sign-up {
  background: #0000802c; /* fallback for old browsers */

  background-blend-mode: overlay, hard-light, normal;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 30rem;
  height: 43rem;
  border-radius: 0.3rem;

  .title {
    color: white;
    padding-top: 1.5rem;
  }

  .sign-up-form {
    width: 100%;
    padding: 0 4rem 4rem 4rem;
  }

  @media screen and (max-width: 450px) {
    margin: auto 2rem;

    .sign-up-form {
      width: 100%;
      padding: 0 2rem 2rem 2rem;
    }
  }
}
